header {
  background-image: url(images/nikelogo2.png);
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img{
  padding-right: 15px;
  max-width: 100px;
}

.hor-menu ul li{
  list-style-type: none;
  float: left;
  padding: 15px 0px;
  color: #fff;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

.hor-menu ul li a{
  color: #fdfdfd;
  text-decoration:none;
  padding: 15px 10px 15px 10px; 
  transition:all 0.5s
}

ul li a:hover{
  background:#A64E00;
  color: #FF7800;
  transition:all 0.5s;

}
.logo-tittle{
  color: #fff;
  font-size: x-large;
}

.content{
  color: white;
  
}

.text{
  display: inline-block;
  justify-content: left;
  padding: 10px;
}

.footer{
  top: 85%;
  left:0;
  width:100%;
  height: 170px;
  background-image: url(images/nikelogo2.png);
}

.hor-menu{
  color: #fff;
  text-decoration: none;
}

.footer-text-left{
  font-size: 20px;
  padding-left:10px;
  float:none;
  word-spacing:0px;
  height: 130px;
  bottom: 30px;
  color: white;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(images/14.jpg);
}

.h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.videos{
  display: flex;
  margin: 50px;
  justify-content: center;
  height: 315px;
  
}

.videos1{
  margin-right: 200px;
}
iframe{
  width: 560px;
  height: 315px; 
}
video{
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  body{
    max-width: 768px;
  }
  header {
    background: #FF6600;
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    flex-direction: column;
 }
 .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .hor-menu ul li {
    list-style-type: none;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    float: none;
  }
  .videos {
    display: flex;
    margin-left: 40px;
    max-width: 375px;
    height: 315px;
    flex-direction: column;
  }
  iframe{
    width: 250px;
    height: 150px; 
  }
  video{
    width: 250px;
    height: 150px; 
  }
}
